// v1.0.17 metadata command types added to TermuxBridge.java
static final String TYPE_MEDIA_METADATA_READ = "media_metadata_read";
static final String TYPE_MEDIA_METADATA_WRITE = "media_metadata_write";
